@model cosmosui.Models.FieldMasterInfo
@{
    Layout = null;
}

@Html.HiddenFor(model => model._rid)
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<div>
    <table>
        @foreach (var x in ViewData.ModelMetadata.Properties)
        {
            if(!x.PropertyName.Contains("_"))
            {
                var prop = x.PropertyName;
                <tr>
                    <td>

                        @Html.LabelFor(model => prop, prop)
                    </td>
                    <td>
                        @Html.Editor(prop)
                    </td>
                </tr>
            }        
        }
        @*<tr>
            <td>
                @Html.LabelFor(model => model.HelpTextKey)
            </td>
            <td>
                @Html.EditorFor(model => model.HelpTextKey)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.InputType)
            </td>
            <td>
                @Html.EditorFor(model => model.InputType)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.FromCountryCode)
            </td>
            <td>
                @Html.EditorFor(model => model.FromCountryCode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AccountTypeCode)
            </td>
            <td>
                @Html.EditorFor(model => model.AccountTypeCode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IsRequired)
            </td>
            <td>
                @Html.EditorFor(model => model.IsRequired)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IsReadOnly)
            </td>
            <td>
                @Html.EditorFor(model => model.IsReadOnly)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IsActive)
            </td>
            <td>
                @Html.EditorFor(model => model.IsActive)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MinLength)
            </td>
            <td>
                @Html.EditorFor(model => model.MinLength)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MaxLength)
            </td>
            <td>
                @Html.EditorFor(model => model.MaxLength)
            </td>
        </tr>*@
    </table>
</div>


@*<div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.HelpTextKey)

        @Html.EditorFor(model => model.HelpTextKey)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.InputType)

        @Html.EditorFor(model => model.InputType)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.FromCountryCode)

        @Html.EditorFor(model => model.FromCountryCode)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.ToCountryCode)

        @Html.EditorFor(model => model.ToCountryCode)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.AccountTypeCode)

        @Html.EditorFor(model => model.AccountTypeCode)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.IsRequired)

        @Html.EditorFor(model => model.IsRequired)


        @Html.LabelFor(model => model.IsReadOnly)

        @Html.EditorFor(model => model.IsReadOnly)


        @Html.LabelFor(model => model.IsActive)

        @Html.EditorFor(model => model.IsActive)
    </div>
    <div style="margin-left:45px">

        @Html.LabelFor(model => model.MinLength)

        @Html.TextBoxFor(model => model.MaxLength)

        @Html.EditorFor(model => model.MaxLength)

    </div>


</div>*@
