@{
    ViewBag.Title = "ResultsView";
}

@using cosmosui.Models
@model IEnumerable<FieldMasterInfo>

@Html.ActionLink("<<Back to Search", "Index", "Home")
<br />
<br />

@foreach (var fmi in Model)
{
    <ul>
        <li>@fmi.FieldId</li>
        <li>@fmi.InputType</li>
        <li>@fmi.IsActive</li>
        <li>@fmi.TenantId</li>
        <li>@fmi.BeneficiaryAddressCountryCode</li>
        <li>@fmi.HelpTextKey</li>

    </ul>
}